.login{
    background-color: var(--white-bg);
    width: fit-content;
    margin: 0 auto;
    color: black;
    border-radius: var(--border-radius);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: var(--default-padding);
}

.registerScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--principal-color);
}

.link{
    color: var(--principal-color);
    /* text-decoration: none; */
}