:root{
  /* background-colors: */
    --principal-color: #1E1E2F;
    --second-color: #e14eca;
    --white-bg: #FFF;

    /* text-colors: */
    --text-color: #FFF;
    --input--color: rgba(29,37,59,.2);

    /* Borders: */
    --border-radius: 0.5rem;
    --border-color: rgba(29,37,59,.2);

    /* padding: */
    --default-padding: 1.5rem;
  }

  
  body {
    background-color: var(--principal-color);
  }

    h1, h2, h3, h4, h5, h6, p, a, span, strong, label, input, button, textarea, select, option, li, ul, ol, div, section, article, header, footer, nav, aside, main, form, fieldset
    {
      color: var(--text-color);
    }