:root{
    --principal-color: #1E1E2F;
    --second-color: #F0322D;

    --text-color: #FFF;
  }

  
  body {
    background-color: var(--principal-color);
  }

    h1, h2, h3, h4, h5, h6, p, a, span, strong, label, input, button, textarea, select, option, li, ul, ol, div, section, article, header, footer, nav, aside, main, form, fieldset
    {
      color: var(--text-color);
    }